{% extends '../master-visitor.html' %}
{% block content %}
  <div class="admin-form theme-info mw500" style="margin-top: 10%;" id="login">
    <div class="row mb15 table-layout">

      <div class="col-xs-6 pln">
        <a href="dashboard.html" title="Return to Dashboard">
          <img src="/assets/img/logos/logo.png" title="AdminDesigns Logo" class="img-responsive w250">
        </a>
      </div>

      <div class="col-xs-6 va-b">
        <div class="login-links text-right">
          <a href="#" class="" title="False Credentials">Password Reset</a>
        </div>
      </div>
    </div>

    <div class="mt40">
     {% include "../includes/notifications.html" with message %}
    </div>

    <div class="panel">

      <form method="post" action="/users/forgot-password" id="contact">
        <!-- end .form-body section -->
        <div class="panel-footer p25 pv15">

          <div class="section mn">

            <div class="smart-widget sm-right smr-80">
              <label for="email" class="field prepend-icon">
                <input type="text" name="email" id="email" class="gui-input" placeholder="Your Email Address">
                <label for="email" class="field-icon">
                  <i class="fa fa-envelope-o"></i>
                </label>
              </label>
              <button type="submit" class="button">Reset</button>  
            </div>
            <!-- end .smart-widget section -->

          </div>
          <!-- end section -->
  
        </div>
        <!-- end .form-footer section -->

      </form>

    </div>

  </div>

{% endblock %}