{% if success_messages.length > 0 %}	
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	{% for success_message in success_messages %}
		{% if success_message.msg %}
			{{ success_message.msg }} <br>
		{% else %}
			{{ success_message }} <br>
		{% endif %}
	{% endfor %}
</div>
{% endif %}

{% if error_messages.length > 0 %}	
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

	{% for error_message in error_messages %}
		{% if error_message.msg %}
			{{ error_message.msg }} <br>
		{% else %}
			{{ error_message }} <br>
		{% endif %}
	{% endfor %}
</div>
{% endif %}