<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<form method="POST" action="/users/signup">
		<input type="text" name="username" placeholder="username">
		<br>
		<input type="password" name="password" placeholder="password">
		<br>
		<input type="email" name="email" placeholder="email">
		<br>
		<input type="text" name="firstName" placeholder="first name">
		<br>
		<input type="text" name="lastName" placeholder="last name">
		<br>
		<input type="submit" name="Register">
	</form>
</body>
</html>