{% extends '../master_layout.html' %}
{% block content %}

<div id="content" class="">
        <div class="row">

          <div class="col-md-12">

            <!-- Input Fields -->
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title">User Details</span>
                <div class="widget-menu pull-right mr10">
                    <div class="btn-group">
	                    <a href="/users/settings/edit" class="btn btn-xs btn-default dropdown-toggle">
	                        <span class="glyphicon glyphicon-edit fs11 mr5"></span>Edit</button>
	                    </a>
                    </div>
                  </div>
              </div>
              <div class="panel-body">

              	<div class="col-md-6">
              		
	                <form class="form-horizontal" role="form">
	                  <div class="form-group">
	                    <label class="col-lg-3 control-label">Full name</label>
	                    <div class="col-lg-8">
	                      <div class="bs-component">
	                        <p class="form-control-static text-muted">{{user.name}}</p>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <label class="col-lg-3 control-label">Email</label>
	                    <div class="col-lg-8">
	                      <div class="bs-component">
	                        <p class="form-control-static text-muted">{{user.email}}</p>
	                      </div>
	                    </div>
	                  </div>
	                </form>

              	</div>
              	<div class="col-md-6">
              		<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-lg-3 control-label">Email</label>
							<div class="col-lg-8">
							  <div class="bs-component">
							    <div class="switch switch-info switch-inline">
							      <input id="email_notification_checkbox" type="checkbox" checked="">
							      <label for="email_notification_checkbox"></label>
							    </div>
							  </div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Twitter</label>
							<div class="col-lg-8">
							  <div class="bs-component">
							   <div class="switch switch-info switch-inline">
							      <input id="twitter_notification_checkbox" type="checkbox" checked="">
							      <label for="twitter_notification_checkbox"></label>
							    </div>
							  </div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">SMS</label>
							<div class="col-lg-8">
							  <div class="bs-component">
							   <div class="switch switch-info switch-inline">
							      <input id="sms_notification_checkbox" type="checkbox" disabled>
							      <label for="sms_notification_checkbox"></label>
							    </div>
						    	<p class="form-control-static text-muted pull-right">Comming soon!</p>
							  </div>
							</div>
						</div>
	                </form>
              	</div>

             
              </div>
            </div>


          </div>
        </div>

      </div>

{% endblock %}