{% extends '../master_layout.html' %}
{% block content %}

<div id="content" class="">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="mt30 mb25">
				{% include "../includes/notifications.html" %}
			</div>
				<!-- Input Fields -->
				<div class="panel">
				  <div class="panel-heading">
					<span class="panel-title">Add a service</span>
				  </div>
				  <div class="panel-body">

			<form class="form-horizontal" role="form" method="POST" action="/services/add">
				<div class="col-md-8">
					  <div class="form-group">
						<label class="col-lg-4 control-label">Service name</label>
						<div class="col-lg-8">
						<input type="text" id="inputStandard" class="form-control" name="name" placeholder="Friendly name">
						</div>
					  </div>

					<div class="form-group">
						<label class="col-lg-4 control-label">Type</label>
						<div class="col-lg-8">
							<select class="form-control" name="type">
								<option value="">Select service type</option>
								<option value="http_status">HTTP Check</option>
							</select>
						</div>
					</div>


					<div class="form-group http_status hide">
						<label class="col-lg-4 control-label">Host URL</label>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-4">

									<select class="form-control" name="protocol">
										<option value="http">http://</option>
										<option value="https">https://</option>
									</select>
								</div>
								<div class="col-lg-8">
									<input type="text" id="inputStandard" class="form-control" name="host" placeholder="Hostname or IP">
								</div>

							</div>
						</div>
					</div>
					<div class="form-group https hide">
						<label class="col-lg-4 control-label">Ignore SSL Issues</label>
						<div class="col-lg-8">
							<div class="switch switch-info switch-inline">
								<input id="exampleCheckboxSwitch1" type="checkbox" name="ignore_ssl_issues" value="true">
								<label for="exampleCheckboxSwitch1"></label>
							</div>
						</div>
					</div>

					  <div class="form-group">
					  <label for="interval" class="col-lg-4 control-label">Check Interval</label>
						  <div class="col-lg-8">
							  <select class="form-control" name="interval" id="interval">
								  <option value="1">Every 1 minute</option>
								  <option value="3">Every 3 minutes</option>
								  <option value="5" selected>Every 5 minutes</option>
								  <option value="10">Every 10 minutes</option>
								  <option value="15">Every 15 minutes</option>
								  <option value="30">Every 30 minutes</option>
								  <option value="60">Every 60 minutes</option>
							  </select>
						  </div>
					  </div>
					  <div class="form-group">
						<label class="col-lg-4 control-label">Running Status</label>
						<div class="col-lg-8">
							<div class="switch switch-info switch-inline">
								<input id="exampleCheckboxSwitch1" type="checkbox" checked="checked" name="running_status" value="true">
								<label for="exampleCheckboxSwitch1"></label>
							</div>
						</div>
					  </div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary pull-right">Add Service</button>
					</div>
				</div>
			</form>
				  </div>
				</div>
		</div>
	</div>
</div>

{% endblock %}
{% block footer_scripts %}
<script>
	jQuery(document).ready(function($){
		$( "select[name='type']" ).change(function(){
			var service_type = $(this).val();
			if(service_type === 'http_status') {

				$('.http_status').removeClass('hide');
			} else {
				$('.http_status').addClass('hide');
			}
		});

		$( "select[name='protocol']" ).change(function(){
			var protocol = $(this).val();
			if(protocol === 'https') {
				$('.https').removeClass('hide');
			} else {
				$('.https').addClass('hide');

			}
		});
	});
</script>
{% endblock %}