{% extends '../master_layout.html' %} {% block content %}
<div id="content" class="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="mt30 mb25">
                {% include "../includes/notifications.html" %}
            </div>
            <!-- Input Fields -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Edit service</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" action="/services/{{service.id}}/edit">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-lg-6 control-label">Service name</label>
                                <div class="col-lg-6">
                                    <input type="text" id="inputStandard" class="form-control" value="{{service.name}}" name="name" placeholder="Friendly name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-6 control-label">Host</label>
                                <div class="col-lg-6">
                                    <div class="bs-component">
                                        <input type="text" id="inputStandard" class="form-control" value="{{service.host}}" name="host" placeholder="Hostname or IP">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="spinner1" class="col-lg-6 control-label">Check Interval</label>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                          <i class="fa fa-level-up"></i>
                        </span>
                                        <span style="height: 15px;" class="ui-spinner ui-widget ui-widget-content ui-corner-all">
                        <input role="spinbutton" autocomplete="off" aria-valuenow="16" id="spinner1" class="form-control ui-spinner-input" name="interval" value="{{service.interval}}"><a tabindex="-1" class="ui-spinner-button ui-spinner-up ui-corner-tr"><span class="ui-icon ui-icon-triangle-1-n">▲</span></a><a tabindex="-1" class="ui-spinner-button ui-spinner-down ui-corner-br"><span class="ui-icon ui-icon-triangle-1-s">▼</span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-6 control-label">Type </label>
                                <div class="col-lg-6">
                                    <select class="form-control" name="type">
                                        <option value="">Select service type</option>
                                        <option value="blacklist" {% if service.type=='blacklist' %} selected="selected" {% endif %}>Blacklist</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-6 control-label">Status </label>
                                <div class="col-lg-6">
                                    <label class="checkbox-inline mr10">
                                        <input id="inlineCheckbox1" value="running" type="checkbox" name="running_status" {% if service.running_status %} checked {% endif %}>Enabled
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-6 control-label">Mute </label>
                                <div class="col-lg-6">
                                    <label class="checkbox-inline mr10">
                                        <input id="inlineCheckbox1" value="muted" type="checkbox" name="mute_status" {%if service.notification_status.mute %} checked {% endif %}>Enabled
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-6 control-label">Twitter </label>
                                <div class="col-lg-6">
                                    <label class="checkbox-inline mr10">
                                        <input id="inlineCheckbox2" value="enabled" type="checkbox" name="twitter_status" {%if service.notification_status.twitter %} checked {% endif %}>Enabled
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-6 control-label">SMS </label>
                                <div class="col-lg-6">
                                    <label class="checkbox-inline mr10">
                                        <input id="inlineCheckbox3" value="enabled" type="checkbox" name="sms_status" {%if service.notification_status.sms %} checked {% endif %}>Enabled
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
