{% extends '../master_layout.html' %} {% block content %}
<div id="content" class="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="mt30 mb25">
                {% include "../includes/notifications.html" %}
            </div>
            <!-- Input Fields -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Edit service</span>
                </div>
                <div class="panel-body">

             <form class="form-horizontal" role="form" method="POST" action="/services/{{service.id}}/edit">
                <div class="col-md-8">
                      <div class="form-group">
                        <label class="col-lg-4 control-label">Service name</label>
                        <div class="col-lg-8">
                        <input type="text" id="inputStandard" class="form-control" value="{{service.name}}" name="name" placeholder="Friendly name">
                        </div>
                      </div>


                    <div class="form-group http_status">
                        <label class="col-lg-4 control-label">Host URL</label>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-4">

                                    <select class="form-control" name="protocol">
                                        <option value="http" @if(service.options.protocol == 'http') true @endif>http://</option>
                                        <option value="https" @if(service.options.protocol == 'https') true @endif>https://</option>
                                    </select>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" id="inputStandard" class="form-control" value="{{service.host}}" name="host" placeholder="Hostname or IP">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group https hide">
                        <label class="col-lg-4 control-label">Ignore SSL Issues</label>
                        <div class="col-lg-8">
                            <div class="switch switch-info switch-inline">
                                <input id="ssl_switch" type="checkbox" name="ignore_ssl_issues" value="@if(service.options.ignore_ssl_issues) true @endif">
                                <label for="ssl_switch"></label>
                            </div>
                        </div>
                    </div>

                      <div class="form-group">
                      <label for="interval" class="col-lg-4 control-label">Check Interval</label>
                          <div class="col-lg-8">
                              <select class="form-control" name="interval" id="interval">
                                  <option value="1" @if(service.interval == 1) selected @endif>Every 1 minute</option>
                                  <option value="3" @if(service.interval == 3) selected @endif>Every 3 minutes</option>
                                  <option value="5" @if(service.interval == 5) selected @endif>Every 5 minutes</option>
                                  <option value="10" @if(service.interval == 10) selected @endif>Every 10 minutes</option>
                                  <option value="15" @if(service.interval == 15) selected @endif>Every 15 minutes</option>
                                  <option value="30" @if(service.interval == 30) selected @endif>Every 30 minutes</option>
                                  <option value="60" @if(service.interval == 60) selected @endif>Every 60 minutes</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-label">Running Status</label>
                        <div class="col-lg-8">
                            <div class="switch switch-info switch-inline">
                                <input id="running_status_switch" type="checkbox" checked="checked" name="running_status" value="@if(service.running_status) true @endif">
                                <label for="running_status_switch"></label>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                    </div>
                </div>
            </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer_scripts %}
<script>
    jQuery(document).ready(function($){
        $( "select[name='protocol']" ).change(function(){
            var protocol = $(this).val();
            if(protocol === 'https') {
                $('.https').removeClass('hide');
            } else {
                $('.https').addClass('hide');

            }
        });
    });
</script>
{% endblock %}