{% extends "../master_layout.html" %} {% block content %}
<div id="content" class="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="mt30 mb25">
                {% include "../includes/notifications.html" %}
            </div>
            <div class="panel" id="spy9">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list fs11 mr5"></span> Notifications
                </div>
                <div class="panel-body p5">
                    <div class="table-responsive">
                        <div class="bs-component">
                            <table class="table mbn table-striped admin-form theme-info">
                                <thead>
                                    <tr>
                                        <th>Service</th>
                                        <th>Status</th>
                                        <th>Message</th>
                                        <th>Event Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in notifications %}
                                    <tr>
                                        <td>{{record.service.name}}</td>
                                        <td>{{record.status}}</td>
                                        <td>{{record.message}}</td>
                                        <td>{{record.createdAt|date}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
