{% extends '../master_layout.html' %}
{% block content %}

<div id="content" class="">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="mt30 mb25">
        {% include "../includes/notifications.html" %}
      </div>
            <!-- Input Fields -->
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title">Service Overview</span>
                  <div class="widget-menu pull-right mr10">
                    <div class="btn-group">
                      <a href="/services/{{service.id}}/edit" class="btn btn-xs btn-default dropdown-toggle">
                          <span class="glyphicon glyphicon glyphicon-plus-sign fs11 mr5"></span>Edit Service</button>
                      </a>
                    </div>
                  </div>                
              </div>
              <div class="panel-body">

        <form class="form-horizontal" role="form" >
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-6 control-label">Service name</label>
                <div class="col-md-6">
                <p class="form-control-static text-muted">{{service.name}}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-6 control-label">Service Last Check</label>
                <div class="col-md-6">
                <p class="form-control-static text-muted">{{service.last_checked}}</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-6 control-label">Host</label>
                <div class="col-md-6">
                  <div class="bs-component">
                <p class="form-control-static text-muted">{{service.host}}</p>
                  </div>
                </div>
              </div>


              <div class="form-group">
              <label for="spinner1" class="col-lg-6 control-label">Check Interval</label>
                <div class="col-lg-6">
                  <div class="bs-component">
                <p class="form-control-static text-muted">{{service.interval}}</p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-6 control-label">Type </label>
                <div class="col-md-6">
                  <div class="bs-component">
                    <p class="form-control-static text-muted">{{service.type}}</p>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-lg-6 control-label">Current Status </label>
                <div class="col-lg-6">
                    <p class="form-control-static text-muted"><a href="/services/{{ service.id }}/history">
                    {{}}service.status}}</a></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-6 control-label">Service Muted </label>
                <div class="col-lg-6">
                    <p class="form-control-static text-muted">{{service.notification_status.mute}}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-6 control-label">Notifications via Twitter </label>
                <div class="col-lg-6">
                    <p class="form-control-static text-muted">{{service.notification_status.twitter}}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-6 control-label">Notifications via SMS </label>
                <div class="col-lg-6">
                    <p class="form-control-static text-muted">{{service.notification_status.sms}}</p>
                </div>
              </div>              
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-6 control-label">Last Service Data</label>
                <div class="col-md-6">
                <p class="form-control-static text-muted">
                Working on it </p>
                </div>
              </div>            
            </div>
        </form>
              </div>
            </div>
          </div>
        </div>

      </div>

{% endblock %}  